.main-prestamos{
    padding: 60px 0;
}

.main-prestamos__title-container{
    text-align: center;
    margin-bottom: 35px;
}

.article-item__icon{
    width: 88px;
    height: 88px
}
.main-prestamos-title-container{
    font-size: 50px;
    font:bold;
    color:rgb(104, 9, 212)
}
.article-item{
    text-align: center;
}
.article-item1{
    font-size: 20px;
    text-align: center;
}
.article-item-title1{
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    color:rgb(61, 61, 218)
}
.article-item-title{
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}
.col-12-12{
    background-color: rgba(128, 128, 128, 0.548);
    width: 100%;
    border-radius: 10px;
    
}
.card {
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    margin-left: 400px;
    height: 200px;
    width: 500px;
    justify-content: center;
    border-radius: 50px;
    
}
.card2 {
    
    margin-right: 150px;
    height: 200px;
    width: 500px;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
}
.container-fluid {
    height: 700px;
    width: 100%;
}

footer{
    background-color: #e5e5e5;
}
.col-md-12{
    text-align: center;
    
    
}
a{
    color: rgb(0, 0, 0);
    display: inline-block;
    
    
}
li{
    display: inline-block;
    
}