.main-prestamos{
    padding: 60px 0;
}

.main-prestamos__title-container{
    text-align: center;
    margin-bottom: 35px;
}

.article-item__icon{
    width: 88px;
    height: 88px
}
.main-prestamos-title-container{
    font-size: 50px;
    font:bold
}
.article-item{
    text-align: center;
}
.article-item-title{
    font-weight: bold;
    font-size: 20px;
}
.col-12-12{
    background-color: rgba(128, 128, 128, 0.548);
    width: 100%;
}
.card {
    background-color: rgb(130, 130, 212);
    margin-left: 400px;
    height: 200px;
    width: 500px;
    justify-content: center;
    
}
.card2 {
    background-color: rgb(130, 130, 212);
    margin-right: 150px;
    height: 200px;
    width: 500px;
    justify-content: center;
    
}
.container-fluid {
    height: 700px;
    width: 100%;
}
