{% extends 'home_app/base.html' %}

{% load static %}

{% block title%} Prestamos {% endblock %}

{% block header %}
<header>
  <nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="position-absolute top-0 start-50 translate-middle-x">
         <img src="{% static 'img/itbank.png' %}" height="65px">
      </h1>
      
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ITBANK</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
            <li><a class="nav-link" href="{% url 'prestamos' %}">Préstamos</a></li>
            <li><a class="nav-link" href="{% url 'tarjetas' %}">Tarjetas</a></li>
            <li><a class="nav-link" href="{% url 'cuentas' %}">Cuentas</a></li>
            <li><a class="nav-link" href="">Inversiones</a></li>
            <li><a class="nav-link" href="">Asistencia | Consultas</a></li>
            <li><a class="nav-link" href="">Mi cuenta</a></li>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Como podemos ayudarte?" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Buscar</button>
          </form>
        </div>
      </div>
      <a class="btn btn-light" href="{% url 'logout' %}">SALIR</a>
    </div>
  </nav>
</header>  
{% endblock %}


{% block content %}

<header class="py-5 bg-image-full">

  <!-- <div class="text-center my-5">
      <img class="img-fluid rounded-circle mb-4" src="{% static 'img/logoit1.png' %}" width="150px" />
      <h1 class="text-white fs-3 fw-bolder">Prestamos</h1>
  </div> -->

</header>
<div class="sm-12">
  <section class="container main-prestamos">
    <div class="row w-1120">
      <div class="col-12-12 text-center">

        <div class="main-prestamos__title-container" >
          <h2 class="main-prestamos-title-container">Elegí el prestamo Itbank</h2>
        </div>

        <section class="main-prestamos__items">
          

          <article  class="article-item">
            <figure class="article-item__figure">
              <img src="../../static/img/celular.jpg" alt="Celular" width= 88px height= 88px class="article-item__icon">
            </figure>
            <b><p class="article-item-title">Desde donde estés y a tu medida</p>
            <p class="article-item__text">Elegís el monto, la cantidad de cuotas y cuándo empezás a devolverlo. Sin necesidad de ir a la sucursal.</p></b>
          </article>

          <article class="article-item">
            <figure class="article-item__figure">
              <img src="../../static/img/logoit1.png" alt="Mano con bolsa de dinero" width= 88px height= 88px class="article-item__icon">
            </figure>
            <b><p class="article-item-title">Acreditación inmediata</p>
            <p class="article-item__text">Te depositamos el préstamo en el momento.</p></b>
          </article>

          <article class="article-item">
            <figure class="article-item__figure">
              <img src="../../static/img/cajadeahorro.jpg" alt="Billetera con dinero" width= 88px height= 88px class="article-item__icon">
            </figure>
          
            <b><p class="article-item__text">Los primeros 24 meses no pagás mantenimiento. Podés acceder a caja de
              ahorro en pesos y dólares, tarjeta de débito y descuentos en tus compras.</p></b>
          </article>

        </section>

        

      </div>
    </div>
  </section>
            <!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        <div class="col-sm-5 text-center mt-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Préstamo pre aprobado</h5>
              <p class="card-text">De 3 a 11 cuotas</p>
              <p class="card-text">T.N.A 70,00%</p>
              <a href="{% url 'solicitud' %}" class="btn btn-primary">Conocé más</a>
            </div>
          </div>
        </div>

        <div class="col-sm-5 text-center mt-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Préstamo pre aprobado</h5>
              <p class="card-text">De 3 a 11 cuotas</p>
              <p class="card-text">T.N.A 70,00%</p>
              <a href="{% url 'solicitud' %}" class="btn btn-primary">Conocé más</a>
            </div>
          </div>
        </div>

          <div class="col-sm-5 text-center mt-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Préstamo pre aprobado</h5>
              <p class="card-text">De 3 a 11 cuotas</p>
              <p class="card-text">T.N.A 70,00%</p>
              <a href="{% url 'solicitud' %}" class="btn btn-primary">Conocé más</a>
            </div>
          </div>
        </div>

        <div class="col-sm-5 text-center mt-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Préstamo pre aprobado</h5>
              <p class="card-text">De 3 a 11 cuotas</p>
              <p class="card-text">T.N.A 70,00%</p>
              <a href="{% url 'solicitud' %}" class="btn btn-primary">Conocé más</a>
            </div>
          </div>
        </div>

      </div>
  </div>
</section>
            
{% endblock %}

{% block footer %}

<footer class="bg-dark text-center text-white">
  <div class="container p-1">
    <section class="mb-1">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
  </section> 
    <nav class="navf">
      <ul class="listafooter">
          <li><a href="" class="afooter">Acerca de Nosotros</a></li>
          <li><a href="" class="afooter">Terminos y Condiciones</a></li>
          <li><a href="" class="afooter">Privacidad y Confidencialidad</a></li>
      </ul>
  </nav>   
  <div class="text-center p-1
  " style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 ITBA
  </div> 
</footer>

{% endblock %}
