{% extends 'home_app/base.html' %}

{% load static %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}

<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="{% url 'dolar' %}">DOLAR HOY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar Sesion</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Registrarse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">¡Hola! Bienvenido a Online Banking</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Realizá tus operaciones de forma fácil y rápida, desde la comodidad de tu casa.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'login' %}">Ingresá</a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'img/itbank.png'%}" width="300px" /></div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Principales funcionalidades</h2></div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                            <h2 class="h5">Transferencias</h2>
                            <p class="mb-0">Entre cuentas propias o a terceros. Online, las 24 horas.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                            <h2 class="h5">Consulta tus tarjetas</h2>
                            <p class="mb-0">Podras consultar el vencimiento, estado o reportar un problema desde la comodidad de tu hogar.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Extracción sin Tarjeta de Débito</h2>
                            <p class="mb-0">Generá una orden de extracción y acercate a un cajero automático.</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Prestamos</h2>
                            <p class="mb-0">Podes pedir tu prestamo totalmente online.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    <!-- Blog preview section-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="home_app\static\img\Hermosa familia feliz en unas vacaciones de playa tropical va a nadar _ Foto Premium.jfif" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Viajes</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Viaja a los lugares mas lindos del mundo</h5></a>
                            <p class="card-text mb-0">Conocé más sobre los beneficios exclusivos en alquileres de autos, líneas aéreas, hoteles, cruceros, y una conveniente protección médica y de equipaje para que tus viajes sean únicos..</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="home_app\static\img\familiaenauto.png" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Seguros</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Te ayudamos a proteger tu familia, tus bienes y tu futuro.</h5></a>
                            <p class="card-text mb-0">Conocé en profundidad el alcance de las coberturas y asistencias incluidas en las Tarjetas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="home_app\static\img\empresa.png" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Corporativo</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Los mejores beneficios para tu empresa</h5></a>
                            <p class="card-text mb-0">¿A quiénes dirigimos los beneficios de Corporate ITBANK?
                                A ejecutivos que buscan un servicio excepcional y privilegios exclusivos en sus viajes de negocios..</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to action-->
            <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">Nuevos productos y mucho mas.</div>
                        <div class="text-white-50">Registrate para recibir nuestras noticias.</div>
                    </div>
                    <div class="ms-xl-4">
                        <div class="input-group mb-2">
                            <input class="form-control" type="text" placeholder="Correo Electronico..." aria-label="Correo Electronico..." aria-describedby="button-newsletter" />
                            <button class="btn btn-outline-light" id="button-newsletter" type="button">Registrate</button>
                        </div>
                        <div class="small text-white-50">Nunca revelaremos tus datos.</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</main>

{% endblock %}